<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniverAndroidLabs"
        tools:targetApi="31">

        <activity
            android:name=".screens.lab5.showdate.ShowDateActivity"
            android:exported="false"
            android:label="@string/title_activity_show_date"
            android:theme="@style/Theme.UniverAndroidLabs">
            <intent-filter>
                <action android:name="com.github.shortmikelon.univerandroidlabs.screens.lab5.showdate" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screens.lab5.showdate.ShowDateExpandedActivity"
            android:exported="false"
            android:label="Show date expanded">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screens.lab5.showtime.ShowTimeActivity"
            android:exported="false"
            android:label="@string/title_activity_show_time"
            android:theme="@style/Theme.UniverAndroidLabs">
            <intent-filter>
                <action android:name="com.github.shortmikelon.univerandroidlabs.screens.lab5.showtime" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.UniverAndroidLabs">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screens.lab5.showname.ShowNameActivity"
            android:exported="false"
            android:label="@string/title_activity_show_name">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screens.lab5.inputname.InputNameActivity"
            android:exported="false"
            android:label="@string/title_activity_input_name">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screens.lab5.changeactivities.ChangeColorActivity"
            android:exported="false"
            android:label="Change color">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screens.lab5.changeactivities.ChangeAlignmentActivity"
            android:exported="false"
            android:label="Change Alignment">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>